*{
  margin: 0;
  padding: 0;
}

html, body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #E5E5E5;
  color: #5A686C;
  font-size: 12px;
}

#container-page{
  height: auto;
  width: 1024px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.container-phones{
  height: 100%;
  width: 60%;
  width: auto;
  box-sizing: border-box;
  display: flex; 
}

.imagens-phones{
  width: 94%;
}


.container-content{
  display: flex;
  align-items: center;
  align-content: stretch;
  flex-direction: column;
  height: auto;
  width: auto;
  gap: 21px;
  box-sizing: border-box;
}

.container-login{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px 29px 30px;
  width: auto;
  box-sizing: border-box;
  height: 480px;
  background-color: #fff;
  border-radius: 12.6px;
  box-shadow: 8px 5px 9px 0px rgba(147, 153, 176, 0.15);
  font-size: 14px;
}

a{
  text-decoration: none;
  color: #5A686C;
}
.content-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12.6px;
}

.input-form{
  height: 42px;
  border-radius: 6.3px;
  border-style: none;
  background-color: rgba(229, 229, 229, 0.34);
  outline: none;
  padding: 0 10px;
}

.button-form{
  width: 100%;
  height: 42px;
  border-radius: 6.3px;
  border-style: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 50%, rgba(189,54,93,1) 100%);
}

.btn-facebook{
  width: 100%;
  height: 42px;
  border-radius: 6.3px;
  border: 1px solid #1877F2;
  background-color: #fff;
  cursor: pointer;
  background-image: url('../assets/img/logo-facebook.png');
  background-repeat: no-repeat;
  background-position: center;
}

hr{
  width: 17%;
  text-align:left;
  margin-left:0;
  border-color: #EBEBEB;
  opacity: 30%;
}

.sign-up{
  color: #1877F2;
  font-weight: 600;
}

.logo-instagram{
  width: 176px;
}

.container-buttons-app{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.button-app{
  display: flex;
  width: 168px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 8px 5px 9px 0px rgba(147, 153, 176, 0.15);
}

.button-app img{
  width: 97px;
}

@media (max-width: 1023px){
  .container-phones{
    display: none; 
  }
  #container-page{
    max-width: 1023px;
    width: auto;
    box-sizing: border-box;
  }
  body{
    box-sizing: border-box;
  }
}

@media (max-width: 768px){
  html, body{
    background-color: #FFF;
  }
  .container-phones{
     display: none;
  }
  #container-page{
    max-width: 767px;
    width: auto;
    justify-content: center;
    align-self: flex-start;
    align-items: flex-end;
  }
  .container-login{
    box-shadow: none;
  }
  .container-content{
    gap:30px;
    width: 100%;
  }
  .container-login{
    gap:30px;
    height: auto;
  }
  .content-form{
    margin-top: 20px;
    gap:20px;
   
  }
  .container-buttons-app{
    justify-content: space-around;
  }
  .button-app{
    width: 160px;
  }
}


